<p>
  <b>Nombre:</b>
  <%=h @servicios.nombre %>
</p>

<p>
  <b>Cabana:</b>
  <%=h @servicios.cabana %>
</p>


<%= link_to 'Edit', edit_servicios_path(@servicios) %> |
<%= link_to 'Back', servicios_path %>