<div id="contentarea">

 <h2>Ubicacion</h2>
<div class="centrar-imagen"> <img src="/images/mapas.jpg"></div>
</div>

<div id="sidebar">
    <h2>Informacion</h2>
     <h3>Estamos en el km4 de la hermosa ruta al Llao Llao, a 100 mts del majestuoso Lago Nahuel Huapi, rodeados de añejos Cipreses de la cordillera y a los pies del Cerro Otto. Nuestra ubicación le permite llegar al Centro Cívico en 3 minutos, ubicados en el barrio Melipal, el primer barrio de montaña, por lo que usted puede contar con todos los servicios como si estuviera en pleno centro pero disfrutando de la maravillosa naturaleza que nos rodea. Con acceso directo al Circuito Chico, el Cerro Catedral, y la ruta al Lago Gutierrez, Lago Mascardi, Lago Guillelmo, Pampa Linda, Volcán Tronador, Cascada los Alerces, y el Bolsón y a 1 cuadra de la ruta costanera que empalma con la Ruta 237 de salida a Neuquén, Buenos Aires, y el acceso a la ruta a Villa La Angostura, 7 lagos y San Martín de Los Andes, nuestra ubicación es inmejorable para disfrutar del entorno ahorrando tiempo de traslado hacia cada destino.”</h3>
    
  <% if !@ubicacions.blank? %>
  <% for ubicacion in @ubicacions %>
  <%= ubicacion.descripcion %>
  <% end %>
  <% else %>
  No informations.
  <% end %>
</div>
