h1 {
  background-image: url(/resources/nuevo/titulos/como_llegar.jpg);
}

#principal .generico.id689 h2 {
   background-image: url(/resources/nuevo/cabeceras/como_llegar.jpg);
  height: 212px;
}