
#body {
	position:absolute;
	left:200px;
	top:0px;
	width:1024px;
	height:1000px;
	margin:0 auto;
}

#top_ {
	#position:absolute;
	left:0px;
	top:0px;
	width:970px;
	height:23px;
	margin:0 auto;
}

#top002_ {
	#position:absolute;
	margin:0 auto;
	left:0px;
	top:23px;
	width:38px;
	height:144px;
}

#top-logo_ {
	position:absolute;
	left:138px;
	top:23px;
	width:312px;
	height:128px;
	margin:0 auto;
}

#top004_ {
	margin:0 auto;
	position:absolute;
	left:431px;
	top:31px;
	width:1024px;
	height:23px;
}

#top005_ {
	position:absolute;
	left:450px;
	top:50px;
	width:100px;
	height:122px;
}

#top-fondo_ {
	position:absolute;
	left:544px;
	top:53px;
	width:500px;
	height:12px;
	margin:0 auto;
}

#top007_ {
	position:absolute;
	left:1068px;
	top:53px;
	width:43px;
	height:122px;
margin:0 auto;
}

#top008_ {
	position:absolute;
	left:38px;
	top:151px;
	width:312px;
	height:16px;
}

#central_ {
	position:absolute;
	left:88px;
	top:175px;
	width:1024px;
	height:148px;
margin:0 auto;
}

#id01-ubicacioncompleta-10_ {
	position:absolute;
	left:0px;
	top:425px;
	width:231px;
	height:1px;
}

#container-ubicacion-central_ {
	position:absolute;
	left:320px;
	top:425px;
	width:750px;
	height:575px;
}

#id01-ubicacioncompleta-12_ {
	position:absolute;
	left:981px;
	top:425px;
	width:43px;
	height:1px;
}

#contenedor_ {
	position:absolute;
	left:0px;
	top:426px;
	width:29px;
	height:574px;
}

#container-col1_ {
	position:absolute;
	left:117px;
	top:426px;
	width:202px;
	height:574px;
}

#contenedor015_ {
	position:absolute;
	left:1069px;
	top:426px;
	width:43px;
	height:574px;
}



h1, h2, h3 {
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a img {
	border: none;
}
