<div id="top-sub-menu">
  <div class="menu">
    <ul>
      <li><%= link_to "Cipres", :controller => "home", :action => "cipres" %></li>
      <li><%= link_to "Maiten", :controller => "home", :action => "maiten" %></li>
      <li><%= link_to "Coihue", :controller => "home", :action => "coihue" %></li>
      <li><%= link_to "Lenga", :controller => "home", :action => "lenga" %></li>
      
    </ul>
  </div>
</div>
