<div id="contentarea">
<%= render :partial => 'menu_servicos' %>

Cipres
<div class="centrar-imagen"> <img src="/images/mpa.jpg"></div>

</div>

<div id="sidebar">
    <h2>Servicios</h2>
  <% if !@servicios.blank? %>
  <% for servicios in @servicios %>
  <%= servicio.nombre %>
  <% end %>
  <% else %>
  No informations Services.
  <% end %>
</div>
