
<div id="sidebar">
    <h2>promotions</h2>
       <% if !@promotion.blank?  && @promotion.estado=="true"%>
         <% for promotion in @promotions %>
  <%= promotion.nombre %>
  <% end %>
  <% else %>
  No informatioddddddddddns.
  <% end %>


