<div id="contentarea">

TEXTO
<div class="centrar-imagen"> <img src="/images/mpas.jpg"></div>
</div>

<div id="sidebar">
    <h2>Informacion</h2>
  <% if !@ubicacions.blank? %>
  <% for ubicacion in @ubicacions %>
  <%= ubicacion.direccion %>
  <% end %>
  <% else %>
  No informations.
  <% end %>
</div>
