<div id="ideomas">
  <li><a href=""><img src="/images/castellano.gif" alt="1">Castellano</a></li>
  <li><a href=""><img src="/images/portugues.gif" alt="1">Portugues</a></li>
  <li><a href=""><img src="/images/ingles.gif" alt="1">Ingles</a></li>
</div>