<div id="slider1">

<ul id="slider1Content">

<li  class="slider1Image">
  <a href=""><img src="/images/foto-contacto.jpg" alt="1"></a>
  <span style="display: block;" class="right"><strong>Snowboard</strong><br>en paisajes fabulosos...</span>
</li>

<li  class="slider1Image">
  <a href=""><img src="/images/foto-galeria.jpg" alt="2"></a>
  <span style="display: block;" class="right"><strong>Title text 2</strong><br>Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...</span>
</li>
<li  class="slider1Image">
  <img src="/images/foto-home.jpg" alt="3">
  <span class="right"><strong>Title text 2</strong><br>Content text...</span>
</li>
<li class="slider1Image">

<img src="/images/foto-servicios.jpg" alt="4">
<span class="left"><strong>Viajes en Catamaranes</strong><br>recorra los lagos de manera agradable...</span>
</li>
<li class="slider1Image">
  <img src="/images/foto-tarifasyreservas.jpg" alt="5">
  <span class="right"><strong>Title text 2</strong><br>Content text...</span></li>
</li>

<li class="slider1Image">
  <img src="/images/foto-ubicacion.jpg" alt="5">
  <span class="right"><strong>Title text 2</strong><br>Content text...</span></li>
</li>

<li class="slider1Image">
  <img src="/images/foto-lago2.jpg" alt="5">
  <span class="right"><strong>Title text 2</strong><br>Content text...</span></li>
</li>


<li class="slider1Image">
  <img src="/images/foto-panorama1.jpg" alt="5">
  <span class="right"><strong>Title text 2</strong><br>Content text...</span></li>
</li>
<div class="clear slider1Image"></div>
</ul>
</div>